body {
    font-size: 85%;
    Letter-Spacing: 0.12em;
    background-color: #F0FFFF;
}

h1, h2, h3  h1 {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    color: #789
    border: 2px solid #FFA500;
    padding: 20px;
    font-size: 2em;
    
    font-weight: bold;
    }


