    @font-face {
    font-family: myWebFont;
    src: url(sansation_light.woff);
    }
    
p {
    width: 500px;
}

p#example {
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
}

p {
    font-size: 85%;
    Letter-Spacing: 0.05em;
    line-height: 130%;
    display: inherit;
}   
    


    /* Applied to both headers 1 and 2 */
h1, h2 {
    box-shadow: 5px 5px 5px #A9A9A9;
    text-align: center;
    border-radius: 4px;
    text-shadow: 2px 2px 2px #00008B;
}

h1 {
    font-size: 3em;
    display: block;
    color: #FFFFFF;
    background-color: rgba(0,0,128,0.8);
    padding: 20px;
}
h2 {
    display: block;
    color: #FFA500;
    border: 2px solid #FFA500;
    padding: 10px;
    font-weight: bold;
    font-size: 2em;
    background-color: rgba(112,128,144,0.8);
}
h3 {
    font-family: Arial bold;
    font-size: 1.5em;
    font-style: italic;
    color: rgb(0,0,128);
}


p {
    font-family: Helvetica, Arial, sans-serif;
}   
/* Indicated font style for blockquote */
blockquote {
    font-style: Italic
}

ul {
    list-style-type:square
}


